table {
  width: 100%;
}

tr td,
tr th {
  width: 50%;
}

tr td {
  text-align: center;
}

th {
  background-color: rgb(198, 221, 221);
}

tbody tr:nth-child(odd) td {
  background-color: aliceblue;
}
